*{
    font-family: monospace;
}



:root{
    :root{
        --col1: rgb(12, 12, 12);
        --col2: rgb(70, 70, 70);
        --col3:  rgb(197, 195, 195);
     }
    
}


.bg-1{
    background-color: var(--col1) !important;
}

.bg-2{
    background-color: var(--col2) !important;
}

.bg-3{
    background-color: var(--col3) !important;
}






.btn{
    background-color: grey ;
}

.card{
    box-shadow:5px 2px 5px 5px lightgrey;
    border: none;
    border-radius: 10%;
    transform: scale(1);
    transition: 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.card:hover{
    transform: scale(1.1);
    transition:1s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.card img{
    border-top-left-radius:10% ;
    border-top-right-radius: 10%;

}

.navbar-blur{
    backdrop-filter: blur(9px) saturate(0.8);
    
}







footer{
        
       
        
    background: rgb(191,191,191);
background: linear-gradient(90deg, rgba(191,191,191,0.8688725490196079) 0%, rgba(61,56,56,0.6615896358543417) 40%, rgba(210,205,205,0.70640756302521) 100%);
    text-align: center;
    font-size: 1px;
    margin-top: 20px;
}

.social-icons {
    font-size: 15px; 
    text-align: center; 
  }